.sigincontainer{
    border-radius: 20px;
    height: 85vh;
    margin-top:20vh;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: borderanimation linear 4s infinite;
    
    }
    
    .sigincontainer input{
        width: 50%;
    }
    
    .sigincontainer label{
        color: #ffffff;
    }
    
    .sigincontainer h1{
     color: white;
     font-size: 28px;
      margin-bottom: 8%;
    }
    @keyframes borderanimation {
        from {border-left: 1px solid rgb(124, 20, 209);  border-top: 2px solid red}
        from {border-right: 1px solid orange;  border-bottom: 2px solid orange;}
    }
    
    
    #signupbutton{
        margin-top: 15px;
        
    }